.Container {
  text-align: center;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 18px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #2e7932;
}

.reset {
  background-color: #f44336;
}

.reset:hover {
  background-color: #d32f2f;
}
